/* Organizar do mais geral para o mais especifico */

/* Reset universal, e importante e como a fundacao de uma obra */
/* Vem sempre em primeiro lugar. É onde limpas as "sujidades" padrão do browser. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Esta parte e das camadas base (estilos globais) */
/* Aqui defines o que se aplica à página toda. Coisas que não mudam frequentemente. */

body {
    background-color: #e7e7e7;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Camada de Elementos (Tags HTML) */
/* Estilizas as tags básicas (h1, p, img, ul). É o "acabamento bruto" */

h1 {
    color: #55960c;
}