/* Organizar do mais geral para o mais especifico */

/* Reset universal, e importante e como a fundacao de uma obra */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Esta parte e das camadas base (estilos globais) */

body {
    background-color: #f4f4f4;
}