/* Organizar do mais geral para o mais especifico */

/* Reset universal, e importante e como a fundacao de uma obra */
/* Vem sempre em primeiro lugar. É onde limpas as "sujidades" padrão do browser. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Esta parte e das camadas base (estilos globais) */
/* Aqui defines o que se aplica à página toda. Coisas que não mudam frequentemente. */

body {
    background-color: #e7e7e7;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Camada de Elementos (Tags HTML) */
/* Estilizas as tags básicas (h1, p, img, ul). É o "acabamento bruto" */

h1 {
    color: #55960c;
    margin-bottom: 20px;
}

p {
    margin: 16px;
}

img {
    max-width: auto; /* Garante que a imagem não foge da caixa */
    height: auto;
}

/*  Camada de Layout (Containers) */
/* Aqui defines as grandes caixas que organizam o conteúdo. */

.container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

/* Estilos para cada item da lista */

.recipe-list li {
    background-color: #e7e7e7;
    padding: 8px;
    list-style: none;
    margin-bottom: 15px;

}


.recipe-list li a {
    text-decoration: none;
}